@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --content-width: 60%;
    --gradient: linear-gradient(0deg, rgba(3,24,44,1) 25%, rgba(130,26,26,1) 100%);
    --popup-background: #223D65;

    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;

    position: relative;

    background: rgba(3,24,44,1);
    background: var(--gradient) fixed;
}

h1 {
    font-size: 3rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

button, .box {
    cursor: pointer;
}

main {
    width: 100%;
    padding: 1rem;
    padding-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.github-logo {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.github-logo img {
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    aspect-ratio: 2 / 1;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
}

.box h2 {
    text-shadow: -2px 2px 5px black;
}

.box p {
    text-shadow: -2px 2px 5px black;
}

.short-text {
    padding: 0;
}

.box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    object-fit: cover;
}



.popup-section {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--popup-background);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 1);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.popup button {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px -5px rgba(255, 255, 255, 0.9);
}

.comparison-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.comparison-grid h2 {
    display: none;
}